apiVersion: apps/v1
kind: Deployment
metadata:
  name: mifinca-app
  namespace: finca
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mifinca-app
  template:
    metadata:
      labels:
        app: mifinca-app
    spec:
      containers:
      - name: mifinca-cont
        image: localhost:5000/mifinca-app:latest
        ports:
        - containerPort: 9091
        env:
        - name: CRYPT_KEY
          valueFrom:
            secretKeyRef:
              name: finca-secrets
              key: CRYPT_KEY
        - name: JWT_SECRET
          valueFrom:
            secretKeyRef:
              name: finca-secrets
              key: JWT_SECRET
        - name: SENDGRID_EMAIL
          valueFrom:
            secretKeyRef:
              name: finca-secrets
              key: SENDGRID_EMAIL
        - name: SENDGRID_API_KEY
          valueFrom:
            secretKeyRef:
              name: finca-secrets
              key: SENDGRID_API_KEY
